
@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/Default.cshtml";
}

<div class="box-pro-home">
    <div class="item-pro-home">
        <div class="box-img-pro-home">
            <img src="~/Content/Images/Products/Acer A315-51-37B9 Core i3-7100U -8.999.000.png" />
        </div>
        <a href="#" target="_blank"> test </a>
        <p>Giá: 10.000.000</p>
    </div>
</div>>



